@model IEnumerable<Models.Entities.Group>

@{
    ViewBag.Title = "مدیریت گروه ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">
    <div class="card-box">
        <fieldset>
            <!-- -->
            <!-- -->
                <div class="col-md-4" id="mygrops">
                    @Html.Partial("_GroupList", Model)
                </div>
                <div class="col-lg-8">
                    <div class="form-group col-md-12">
                        <div class="col-md-3 form-group">
                            @Html.Label("نام گروه")<br />
                            @Html.TextBox("Name", null, new { @class = "form-control ", autocomplete = "off" })
                            <br />
                            @Html.Label("عکس گروه")<br />
                            <input class="form-control " id="upload-Image" type="file" onchange="loadImageFile();" />
                        </div>
                        <div class="col-md-9  form-group"">
                            <img id="upload-Preview" src="" alt="Select Image" style="border:2px solid silver;height:100%;width:auto;" />
                            <img id="original-Img" src="" alt="Select Image" style="display:none" />
                        </div>
                    </div>
                    <div class="form-group col-md-12" style="margin-top:30px">
                        <button class="btn btn-success" onclick="AddGroup()"><div class="fa fa-plus"> اضافه کردن به لیست گروه ها</div></button>
                        &nbsp;

                        <button class="btn btn-danger" onclick="DeleteGroup()"><div class="fa  fa-remove"> حذف گروه انتخواب شده</div></button>
                        &nbsp;

                        <button class="btn btn-info" onclick="EditGroup()"><div class="fa fa-edit"> ویرایش گروه انتخواب شده</div></button>
                    </div>
                </div>
            <!-- -->
            <!-- -->
        </fieldset>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>

        function SelectGroup() {
            var y = (document.getElementById("MyGroupList"))
            document.getElementById("Name").value = y.options[y.selectedIndex].text
            document.getElementById("upload-Preview").src = y.options[y.selectedIndex].attributes['img'].value
        }

        function EditGroup() {

            $.ajax({
                url: "@Url.Action("EditGroup","Group")",
                data: {
                    Id: document.getElementById("MyGroupList").value,
                    Name: document.getElementById("Name").value,
                    Image: document.getElementById("upload-Preview").src
                },
                type: "Post",
                dataType: "Json",
                success: function (result) {
                    if (result.Success) {
                        document.getElementById("mygrops").innerHTML = result.Html
                        document.getElementById("Name").value = ""
                        document.getElementById("upload-Preview").src = ""
                    }
                    eval(result.Script)
                },
                error: function () { alert("خطا!") }
            })

        }

        function AddGroup() {
            $.ajax({
                url: "@Url.Action("AddGroup","Group")",
                data: {
                    Name: document.getElementById("Name").value,
                    Image: document.getElementById("upload-Preview").src
                },
                type: "Post",
                dataType: "Json",
                success: function (result) {
                    if (result.Success) {
                        document.getElementById("mygrops").innerHTML = result.Html
                        document.getElementById("Name").value = ""
                        document.getElementById("upload-Preview").src = ""
                    }
                    eval(result.Script)
                },
                error: function () { alert("خطا!") }
            });
        }

        function DeleteGroup() {
            $.ajax({
                url: "@Url.Action("DeleteGroup","Group")",
                data: { Id: document.getElementById("MyGroupList").value },
                type: "Post",
                dataType: "Json",
                success: function (result) {
                    if (result.Success) {
                        document.getElementById("mygrops").innerHTML = result.Html
                        document.getElementById("Name").value = ""
                        document.getElementById("upload-Preview").src = ""
                    }
                    eval(result.Script)
                },
                error: function () { alert("خطا!") }
            })
        }

        var fileReader = new FileReader();
        var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

        fileReader.onload = function (event) {
            var image = new Image();

            image.onload = function () {
                document.getElementById("original-Img").src = image.src;
                var canvas = document.createElement("canvas");
                var context = canvas.getContext("2d");
                canvas.width = 100;
                canvas.height = 100;
                context.drawImage(image,
                    0,
                    0,
                    image.width,
                    image.height,
                    0,
                    0,
                    canvas.width,
                    canvas.height
                );

                document.getElementById("upload-Preview").src = canvas.toDataURL();
            }
            image.src = event.target.result;
        };

        var loadImageFile = function () {
            var uploadFile = document.getElementById("upload-Image").files[0];
            fileReader.readAsDataURL(uploadFile);
        }



    </script>
}
