@model LearnBug.Models.DomainModels.Content


<div class="fa fa-user">@Model.User.Username</div>
<br />
<div class="fa fa-cubes">@Model.Group.Name</div>
<br />
<div class="fa fa-clock-o">@Model.Datetime.ToPersianDate().ToString("hh:mm  yyyy/MM/dd")</div>
<br />
<div class="fa fa-comment">@Model.Comments.Count() Comments</div>
<br />
<div class="fa" style=" padding:5px;">
    @foreach (var item in Model.Comments.OrderByDescending(P => P.Datetime))
    {
        <div style="padding:5px 0px 5px 0px;">
            <span style="color:darkblue;">
                @{
                    string s = item.User.Username;
                    <a href="/User/Profile/?username=@s">@s</a><br />
                }
            </span>
            @item.Text <br />
            <span style="font-size:12PX;"> @item.Datetime.ToPersianDate().ToString("hh:mm  yyyy/MM/dd")</span>
            @if (item.User.Username.ToLower() == User.Identity.Name.ToLower() || Model.User.Username.ToLower() == User.Identity.Name.ToLower() || User.IsInRole("Admin"))
            {
                <a style="cursor:pointer;color:red" onclick="deleteComment(@item.Id)">حذف</a>
            }
        </div>
    }
</div>