@model Models.Entities.User
<div>
    <center><b style="font-size:18px;" id="modal-title">ویرایش اطلاعات کاربری</b></center>
</div>

<hr />
@using (Html.BeginForm(""))
{

    @Html.AntiForgeryToken()

    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("نام : ")
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("ایمیل : ")
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("تاریخ تولد : ")
            </div>
            <div class="col-md-9">
                <input class="form-control text-box single-line" onmousedown="$('#Dateofbirth').datepicker();" name="PersianDateofbirth" id="Dateofbirth" type="text" value="@Model.Dateofbirth.ToPersianDate("yyyy/MM/dd")" autocomplete="off" />
                @Html.ValidationMessageFor(model => model.PersianDateofbirth, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>

    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("جنسیت : ")
            </div>
            <div class="col-md-9">
                @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("تلفن : ")
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("محل سکونت : ")
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("بیوگرافی : ")
            </div>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Biography, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })

            </div>

        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <input type="submit" class="btn btn-success w-md" value="ذخیره" />
                <a type="submit" class="btn btn-danger w-md" onclick="document.getElementById('bodypartial').innerHTML=''">انصراف</a>

            </div>
        </div>
    </div>



}




