@model ViewModels.ChangePasswordViewModel
<div>
    <center><b style="font-size:18px;" id="modal-title">تغییر رمز عبور کاربر</b></center>
</div>

<hr />
<div class="col-md-12 form-group text-center">
    <h2 id="msg" class="text-danger"></h2>
</div>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "FormChangePassword" }))
{
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("رمز عبور فعلی :")
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => Model.OldPassword, new { @class = "form-control",type="Password" })
                @Html.ValidationMessageFor(model => Model.OldPassword, null, new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("  رمز عبورجدید : ")
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => Model.NewPassword, new { @class = "form-control",type="Password" })
                @Html.ValidationMessageFor(model => Model.NewPassword, null, new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3">
                @Html.Label("تکرار رمز :")
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => Model.ConfirmNewPassword, new { @class = "form-control" ,type="Password"})
                @Html.ValidationMessageFor(model => Model.ConfirmNewPassword, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-9 form-group">
        <div class="col-md-9">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <input type="submit" class="btn btn-success w-md" value="تغییر رمز" onclick="ChangePassword()" />
            </div>
        </div>
    </div>
}
