@model IEnumerable<LearnBug.Models.DomainModels.User>

@{
    ViewBag.Title = "myContents";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Home/AdminPanel">پنل مدیریتی</a>/<a href="/User/AllUsers">مدیریت کاربران</a></div>
            <div class="panel-body">
                <div class="grid-view">
                    <!-- -->
                    <table class="table table-hover table-striped">
                        <tr>
                            <th> عکس</th>
                            <th> نام کاربری</th>
                            <th>نام</th>
                            <th>کیف پول</th>
                            <th>کمیسیون</th>
                            <th>پستها</th>
                            <th>کامنت ها</th>
                            <th>پیامهای ارسالی</th>
                            <th>پیامهای دریافتی</th>
                            <th>نشانه گذاری شده ها</th>
                            <th>فاکتور ها</th>
                            <th>تراکنش ها</th>
                            <th>فروشها</th>
                            <th>دسترسی</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img style="width:30px;height:30px;border-radius:100%;" src="@item.ImgProfile()"></td>
                                <td><a href="/User/Profile/?username=@item.Username">@item.Username</a></td>
                                <td>@item.name</td>
                                <td>@item.Wallet.ToPrice() $</td>
                                <td>@item.Commission %</td>
                                <td>@item.Contents.Count</td>
                                <td>@item.Comments.Count</td>
                                <td>@item.Messages.Count</td>
                                <td>@item.Messages1.Count</td>
                                <td>@item.Bookmarks.Count</td>
                                <td>@item.Factors.Count</td>
                                <td>@item.Transactions.Count</td>
                                <td>@item.Contents.SelectMany(p=>p.Factors).Sum(o=>o.Price).ToPrice() $</td>
                                <td>@item.Roles</td>
                            </tr>
                        }
                    </table>

                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script></script>
}