@model LearnBug.Models.DomainModels.User

<div style="position:relative">
    <img src="@Model.ImgProfile()" style="width:100%;height:auto" />
    <span class="wallet">$ @Model.Wallet.ToPrice()</span>
</div>
<div>
    <center>
            <a class="ateg" href="/User/Profile/?username=@Model.Username">
                @Model.name
            </a>
    </center>
</div>
<br />
<div class="col-md-12">
    <center>
        <a href="/User/Profile/?username=@Model.Username#GotoContents">
            <div class="col-md-4 sa-box">Posts<br />@Model.Contents.Count()</div>
        </a>
        <a href="/Follow/Followers/?username=@Model.Username">
            <div class="col-md-4 sa-box">Followers<br />@Model.Follows.Count()</div>
        </a>
        <a href="/Follow/Following/?username=@Model.Username">
            <div class="col-md-4 sa-box">Following<br />@Model.Follows1.Count()</div>
        </a>
    </center>
</div>


<div class="col-lg-12"><center>
    <a href="@Url.Action("Edit","User")" class="fa fa-edit ateg">Edit Profile </a><br />
    <a href="@Url.Action("myContents","Content")" class="fa fa-book ateg">My Contents</a><br />
    <a href="@Url.Action("MyBookMarks","Bookmark")" class="fa fa-bookmark ateg">BookMarks </a>
</center>
</div>
