@model ViewModels.AvatarViewModel
@if (User.Identity.IsAuthenticated)
{
    <!-- User -->
    <div class="user-box">
        <div class="user-img">
            <a href="@Url.Action("Profile","User",new {id=Model.Username })">
                <img src="@Model.Image" alt="user-img" title="Mat Helme" class="fa-border img-thumbnail img-responsive">
            </a>
        </div>
        <h5><a href="@Url.Action("Profile","User",new {id=Model.Username })">@Model.Name</a> </h5>
        <h5 class="text-warning">@Model.Wallet.ToPrice() $</h5>
        <ul class="list-inline">
            <li>
                <a href="@Url.Action("Edit","User")" class="fa-2x">
                    <i class="zmdi zmdi-settings"></i>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Logout","Account")" class="fa-2x" style="color:red">
                    <i class="zmdi zmdi-power"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- End User -->
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> خانه </span> </a>
            </li>
            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-account"></i> <span> کاربران</span> <span class="menu-arrow"></span></a>
                <ul class="list-unstyled">
                    <a href="@Url.Action("Followers","Follow",new {id= User.Identity.Name})" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span class="label label-info pull-right">@Model.CountOfFollowing</span><span> دنبال کنندگان </span> </a>
                    <a href="@Url.Action("Following","Follow",new {id= User.Identity.Name})" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span class="label label-warning pull-right">@Model.CountOfFollower</span><span> دنبال شده ها </span> </a>
                </ul>
            </li>
            @if (Model.HasPost)
            {
                <li>
                    <a href="@Url.Action("Index", "Post")" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span class="label label-danger pull-right">@Model.CountOfPosts</span><span> پست های من </span> </a>
                </li>
            }
            @if (Model.HasBookmark)
            {
                <li>
                    <a href="@Url.Action("Index", "BookMark")" class="waves-effect"><i class="zmdi zmdi-group"></i> <span> نشانه گذاری شده ها </span> </a>
                </li>
            }
            @if (Model.HasFactor)
            {
                <li>
                    <a href="@Url.Action("Index","Factor")" class="waves-effect"><i class="zmdi zmdi-play-for-work"></i> <span> مطالب خریداری شده </span> </a>
                </li>
            }

        </ul>
    </div>
    <!-- Sidebar -->
}
else
{
    <div id="sidebar-menu">
        <ul>
            <li><a href="@Url.Action("Index","Home")" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> خانه </span> </a></li>
            <li><a href="@Url.Action("Login","Account")" class="waves-effect"><i class="zmdi zmdi-sign-in"></i> <span> ورود </span> </a></li>
            <li><a href="@Url.Action("Register","Account")" class="waves-effect"><i class="zmdi zmdi-nature-people"></i> <span> ثبت نام </span> </a></li>
        </ul>
    </div>
}
<div class="clearfix"></div>
