@{
    ViewBag.Title = "ویرایش پروفایل";

}@section styles{
    <link href="~/Scripts/PersianDateTimePicker/jquery-ui-datetimepicker.min.css" rel="stylesheet" />
}

<div class="col-lg-12">
    <div class="card-box">
        <fieldset>
            <!-- -->
            <div class="col-md-2" style="border-left:2px solid silver;">
                <a class="btn btn-info" style="width:100%" onclick="renderpage('@Url.Action("_editProfile","User")')">ویرایش اطلاعات کاربری</a><br /><br />
                <a class="btn btn-info" style="width:100%" onclick="renderpage('@Url.Action("_editPicture", "User")')">ویرایش عکس پروفایل</a><br /><br />
                <a class="btn btn-info" style="width:100%" onclick="renderpage('@Url.Action("_editPassword", "User")')">تغییر رمز عبور</a>
                <div class="clear"><hr /></div>
                <a class="btn btn-info" style="width:100%" onclick="renderpage('@Url.Action("_Add","Transaction")')">افزایش اعتبار</a><br /><br />
                <a onclick="renderpage('@Url.Action("_Index","Transaction")')" style="width:100%" class="btn btn-info">تراکنش ها</a><br /><br />
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
                    <a onclick="renderpage('@Url.Action("_SellContent","Factor")')" style="width:100%" class="btn btn-info">گذارش خرید مطالب من</a>
                }
            </div>
            <div id="bodypartial" class="col-md-10" style="padding:10px;">
            </div>
            <!-- -->
        </fieldset>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/PersianDateTimePicker/jquery-ui-datetimepicker.min.js"></script>
    <script type="text/javascript">
        function AddPrice(prc) {
            $.ajax({
                url: "/Transaction/_add",
                data: { price: prc },
                type: "Post"
            })
            $('#bodypartial').html('')
        }

        function changeProfilePicture(type) {
            var img = $("#upload-Preview").attr('src')
            $.ajax({
                url: "/User/changeProfilePicture",
                data: { newPicture: img, type: type },
                type: "Post"
            })
            $('#bodypartial').html('')


        }

        var fileReader = new FileReader();
        var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

        fileReader.onload = function (event) {
            var image = new Image();

            image.onload = function () {
                document.getElementById("original-Img").src = image.src;
                var canvas = document.createElement("canvas");
                var context = canvas.getContext("2d");
                canvas.width = 200;
                canvas.height = 200;
                context.drawImage(image,
                    0,
                    0,
                    image.width,
                    image.height,
                    0,
                    0,
                    canvas.width,
                    canvas.height
                );

                document.getElementById("upload-Preview").src = canvas.toDataURL();
            }
            image.src = event.target.result;
        };

        var loadImageFile = function () {
            var uploadImage = document.getElementById("upload-Image");

            //check and retuns the length of uploded file.

            //Is Used for validate a valid file.
            var uploadFile = document.getElementById("upload-Image").files[0];

            fileReader.readAsDataURL(uploadFile);
        }

        function renderpage(a) {
            $.ajax({
                url: a,
                success: function (data) {
                    $('#bodypartial').html(data)
                }
            })


        }
        function EditPassword() {
            var oldPassword = $("#oldPassword").val()
            var newPassword = $("#newPassword").val()
            var confirmPassword = $("#confirmPassword").val()
            if (newPassword == confirmPassword) {
                $.ajax({
                    url: "/User/ChangePassword",
                    data: { oldPassword: oldPassword, newPassword: newPassword, confirmPassword: confirmPassword },
                    type: "Post",
                    dataType: "Json",
                    success: function (data) {
                        if (data.ss) {
                            alert('رمز عبور شما با موفقیت تغیر کرد')
                            document.getElementById('bodypartial').innerHTML = ''

                        } else {
                            eval(data.js)
                            $("#msg").html(data.msg)
                        }
                    }
                })
            }
        }
    </script>
}
