@model LearnBug.Models.DomainModels.User

@{
    ViewBag.Title = Model.Username;

}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/User/Profile/?username=@Model.Username">پروفایل</a></div>
            <div class="panel-body">
                <div id="w1" class="grid-view">
                    <!-- -->
                    <div class="relative">

                        <div class="col-md-12">

                            <div class="col-md-4" style="text-align:center">
                                <div class="col-md-12">
                                    <img style="width:100%;height:auto;" src="@Model.ImgProfile()">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <a href="#GotoContents">
                                        <div class="col-md-4">
                                            <div class="panel-body top-info-box">
                                                <div class="fa fa-file-text-o"></div>
                                                <div class="desc">
                                                    <span style="font-size: 12px; font-weight: bold">مطلب</span>
                                                    <br />
                                                    <span style="font-size: 24px; font-weight: bold">@Model.Contents.Count()</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/Follow/Followers/?username=@Model.Username">
                                        <div class="col-md-4">
                                            <div class="panel-body top-info-box">
                                                <div class="fa fa-group"></div>
                                                <div class="desc">
                                                    <span style="font-size: 12px; font-weight: bold">دنبال کندده ها</span>
                                                    <br />
                                                    <span style="font-size: 24px; font-weight: bold">@Model.Follows.Count()</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/Follow/Following/?username=@Model.Username">
                                        <div class="col-md-4">
                                            <div class="panel-body top-info-box">
                                                <div class="fa fa-object-group"></div>
                                                <div class="desc">
                                                    <span style="font-size: 12px; font-weight: bold">دنبال شونده ها</span>
                                                    <br />
                                                    <span style="font-size: 24px; font-weight: bold">@Model.Follows1.Count()</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    @if (User.Identity.IsAuthenticated && User.Identity.Name != Model.Username)
                                    {
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <button onclick="SendMessage(@Model.Id);" style="width:100%;" class="btn btn-success">ارسال پیام به کاربر</button>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="button" onclick="Follow(@Model.Id);" id="btnFollow" style="width:100%;" class="btn btn-info"
                                                       @(Model.Follows.Any(p => p.User1.Username == User.Identity.Name) ? " value=UnFollow" : " value=Follow") />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.Username == User.Identity.Name || User.IsInRole("Admin"))
                                    {
                                        <div class="col-lg-12">
                                            <a href="@(User.IsInRole("Admin")? Url.Action("ManagementUser", "User",new { id=Model.Id}) : Url.Action("Edit", "User"))"
                                               class="btn btn-info"
                                               style="width:100%;">Edit Profile </a>

                                        </div>
                                    }

                                    <div class="clear"></div>
                                    <div class="col-md-12">
                                        <span class="col-md-2 MyFontInProfile">نام  : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.name</span>
                                        <span class="col-md-2 MyFontInProfile">نام کاربری  : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Username</span>
                                        <span class="col-md-2 MyFontInProfile">ایمیل : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Email</span>
                                        @if ((User.Identity.IsAuthenticated && User.Identity.Name == Model.Username) || User.IsInRole("Admin"))
                                        {
                                            <span class="col-md-2 MyFontInProfile">شماره تلفن  : </span>
                                            <span class="col-md-4 MyFontInProfile"> @Model.Phone</span>
                                            <span class="col-md-2 MyFontInProfile">کیف پول : </span>
                                            <span class="col-md-4 MyFontInProfile">@Model.Wallet.ToPrice() $</span>
                                            <span class="col-md-2 MyFontInProfile">کمیسیون : </span>
                                            <span class="col-md-4 MyFontInProfile">@Model.Commission %</span>
                                        }
                                        <span class="col-md-2 MyFontInProfile">جنسیت : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Gender.ToString().GenderToText()</span>
                                        <span class="col-md-2 MyFontInProfile">تاریخ تولد : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Dateofbirth.ToPersianDate().ToShortDateString()</span>
                                        <span class="col-md-2 MyFontInProfile">محل سکونت  : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Location</span>

                                        <span class="col-md-2 MyFontInProfile">نوع دسترسی  : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Roles</span>
                                        <span class="col-md-2 MyFontInProfile">بیوگرافی : </span>
                                        <span class="col-md-4 MyFontInProfile"> @Model.Biography</span>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <hr />
                        </div>
                        <div class="col-md-12" id="GotoContents">
                            @Html.Partial(Url.Content("~/Views/Content/_ContentList.cshtml"), @Model.Contents.OrderByDescending(p => p.Datetime).AsQueryable())

                        </div>

                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function SendMessage(userid) {
            var t = prompt("پیغام خود را وارد کنید")
            if (t != '' && t != null) {
                $.ajax({
                    url: "/Message/SendMessage",
                    data: { text: t, to: userid },
                    type: "Post",
                    dataType: "JavaScript",
                })
            }

        }



        function Follow(id) {
            var w = $("#btnFollow").val()
            var typ = true
            if (w == "UnFollow") {
                $("#btnFollow").val("Follow")
                typ = false
            } else {
                $("#btnFollow").val("UnFollow")
                typ = true
            }
            $.ajax({
                url: "/Follow/Follow",
                data: { userId: id, type: typ },
                type: "Post",
                datatype: "Json"
            })
        }

    </script>
}