@model LearnBug.Models.DomainModels.User

@{
    ViewBag.Title = "myContents";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/User/Profile/?username=@Model.Username">پروفایل</a></div>
            <div class="panel-body">
                <div id="w1" class="grid-view">
                    <!-- -->
                    <div class="col-md-3" style="float:right;">
                        <div>
                            <center>
                                <img style="width:200px;height:200px;border-radius:100%;" src="@Model.Image.ImgProfile()">
                            </center>
                        </div>
                        <div>
                            <div class="col-md-4"><center>Posts<br />@Model.Contents.Count()</center></div>
                            <div class="col-md-4"><center>Followers<br /><span id="Flwer">@Model.Follows.Count()</span></center></div>
                            <div class="col-md-4"><center>Following<br />@Model.Follows1.Count()</center></div>
                        </div><br />
                        @if (User.Identity.IsAuthenticated && User.Identity.Name!=Model.Username)
                        {
                            <div>
                                <button id="sndmsg" class="btn btn-success col-md-6">ارسال پیام به کاربر</button>
                                @if (Model.Follows.Any(p => p.User1.Username == User.Identity.Name))
                                {
                                    <input onclick="Follow(@Model.Id);" id="btnFollow" class="btn btn-info col-md-6" flw="true" value="UnFollow"/>
                                }
                                else
                                {
                                    <input onclick="Follow(@Model.Id);" id="btnFollow" class="btn btn-info col-md-6" flw="false" value="Follow"/>
                                }
                            </div>
                        }

                        <div>
                            <span>نام  : </span> @Model.name
                        </div>

                        <div>
                            <span>نام کاربری : </span> @Model.Username
                        </div>

                        <div>
                            <span>ایمیل  : </span> @Model.Email
                        </div>

                        <div>
                            <span>جنسیت  : </span> @Model.Gender.ToString().GenderToText()
                        </div>

                        <div>
                            <span>تاریخ تولد : </span> @Model.Dateofbirth
                        </div>
                        <div>
                            <span>محل سکونت : </span> @Model.Location
                        </div>

                        <div>
                            <span>نوع دسترسی : </span> @Model.Roles
                        </div>

                        <div>
                            <span>بیوگرافی : </span> @Model.Biography
                        </div>
                    </div>

                    <div>
                        <span style="color:darkblue; margin-bottom:10px;"><b>مطالب مربوط به کاربر @Model.name</b></span>
                        <div class="col-md-9 pre-scrollable">
                            @foreach (var item in Model.Contents)
                            {
                                <div id="w0" class="grid-view">
                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <span class="last-visitors-item">
                                                            <span class="fa fa-clock-o"></span>@item.Datetime
                                                        </span>
                                                        <span class="last-visitors-item">
                                                            <span class="fa fa-cubes"></span>@item.Group.Name
                                                        </span>
                                                        <span class="last-visitors-item">
                                                            <span class="fa fa-tablet"></span>@item.Subject
                                                        </span>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <span>مشاهده مطالب</span>: <a href="/Content/ViewContent/?id=@item.Id">View</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        document.getElementById('sndmsg').addEventListener('click',function(){
            var t = prompt("پیغام خود را وارد کنید");
            if (t!='' && t!=null) {
                $.ajax({
                    url: "/Message/SendMessage",
                    data: { text: t, to:@Model.Id},
                    type: "Post",
                    dataType: "JavaScript",
                });
            }
        });




        function Follow(id) {
                        var w = $("#btnFollow").val()
            var typ = true
                if (w == "UnFollow") {
                $("#btnFollow").val( "Follow")
                typ = false
            } else {
                $("#btnFollow").val( "UnFollow")
                typ = true
            }
            $.ajax({
                url: "/Follow/Follow",
                data: { userId:id , type: typ },
                type: "Post",
                datatype: "Json"
            })
        }

    </script>
}