<!-- saved from url=(0040)http://avazak.ir/Theme/preview/P-826.php -->
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Files/Picture/Logo.png" />
    <meta charset="utf-8">
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/RSadmin/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/index.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/markup.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <title>@ViewBag.Title</title>
    <link href="~/Content/BU/Avater.css" rel="stylesheet" />
    <link href="~/Content/BU/MyCssCode.css" rel="stylesheet" />

</head>
<body>
    <div class="top-head navbar-fixed-top">
        <ul class="top-item pull-right">
            <li style="background-color:rgb(26, 26, 95)">
                <div class="fa fa-bars" onclick="togNav()"></div>
            </li>
            
            <li>
                <a href="@(User.Identity.IsAuthenticated ? Url.Action("ContentOfFollowing","Content") : Url.Action("Index","Home"))">
                    <div class="fa fa-home"></div>
                </a>
            </li>
            <li>
                <a href="/Content/AddContent">
                    <div class="fa fa-plus"></div>
                </a>
            </li>

            <li>
                <a href="/Message/myMessage">
                    <div class="fa fa-comments"></div>
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="/Home/AdminPanel">
                        <div class="fa fa-cog"></div>
                    </a>
                </li>
            }
            <li style="cursor:default">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <input type="search" name="search" id="search" value="@ViewBag.Srch" style="color:cadetblue;margin-left:10px" />
                    <div style="cursor:pointer;" onclick="$('#submitsrch').click()" class="fa fa-search"></div>
                    <button id="submitsrch" class="hidden"></button>
                }
            </li>
            <li>
                <a href="/Home/About">
                    <div class="fa fa-question"></div>
                </a>
            </li>

        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="top-item pull-left">
                <li>
                    <a href="@Url.Action("LogOut", "Home")">
                        <div class="fa fa-sign-out"></div>
                    </a>
                </li>
            </ul>
        }

        <div class="clear"></div>
    </div>
    <div class="container" style="width: 100%;
        min-height: 100%;
">
        <!-- tools start -->
        <div id="mySidenav" class="sidenav pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Action(actionName: "Avatar", controllerName: "User")
            }
            else
            {

                <div class="col-lg-12" style="text-align:left">
                    <a href="@Url.Action("Login", "Home")" class="fa fa-sign-in">ورود </a>
                    <a href="@Url.Action("RegisterUser", "User")" class="fa fa-registered">ثبت نام </a>
                </div>

            }
        </div>

        <!-- tools end -->
        <!-- main start -->
        <div class="pull-left main-content" id="main">
            <div class="clear" style="padding-bottom: 70px;"></div>
            <div id="divbody">
                @RenderBody()
            </div>
        </div>
        <!-- main end -->
    </div>
    <div class="footer">
        @Html.Action("Footer","Home")
    </div>
    <script src="~/Content/BU/MyJsCode.js"></script>
    <script src="~/Content/RSadmin/js/chart.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        if (document.getElementById("search").value.length > "0") {
            $("#search").focus()
        }
    </script>
</body>

</html>