<!-- saved from url=(0040)http://avazak.ir/Theme/preview/P-826.php -->
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Files/Picture/Logo.png" />
    <meta charset="utf-8">
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/RSadmin/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/index.css" rel="stylesheet" />
    <link href="~/Content/RSadmin/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/markup.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <title>LearnBug</title>
</head>
<body>
    <div class="top-head">
        <div class="raspina pull-right">
            <div class="rs-name">Bug</div>
            <div class="rs-version">Learn</div>
        </div>
        <ul class="top-item pull-right">
            <li>
                <a href="/Content/AddContent">
                    <div class="fa fa-plus"></div>
                </a>
            </li>

            <li>
                <div class="fa fa-comments"></div>
                <div class="item-notification">12</div>
            </li>

            <li>
                <a href="/Message/myMessage">
                    <div class="fa fa-envelope-o"></div>
                    <div class="item-notification">5</div>
                </a>
            </li>

            <li>
                <div class="fa fa-users"></div>
                <div class="item-notification">5</div>
            </li>

            <li>
                <div class="fa fa-newspaper-o"></div>
                <div class="item-notification">5</div>

            </li>

        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="top-item pull-left">
                <li>
                    <a class="link" href="/Home/LogOut">
                        <div class="fa fa-sign-out"></div>
                    </a>
                </li>
            </ul>
        }
        <div class="clear"></div>
    </div>
    <div class="container" style="width: 100%; min-height: 100%;">
        <div class="row" style="border-right: 72px solid #383A3F;">
            <!-- tools start -->
            <div class="rs-tools">
                <a href="/Home/Index">

                    <div class="rs-item">
                        <div class="fa fa-home rs-icon"></div>
                        <div class="rs-tool-title">خانه</div>
                    </div>
                </a>
                <div class="group-items rs-open">
                    <a href="~/Content/myContents">
                        <div class="rs-item rs-active">
                            <div class="fa fa-file-text-o rs-icon"></div>
                            <div class="rs-tool-title">مطالب</div>
                        </div>
                    </a>
                    <div class="sub-item">
                        <a href="#">
                            <div class="rs-item">
                                <div class="fa fa fa-plus rs-icon"></div>
                                <div class="rs-tool-title">مطلب جدید</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="rs-item">
                                <div class="fa fa fa-list rs-icon"></div>
                                <div class="rs-tool-title">لیست مطالب</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="rs-item">
                                <div class="fa fa fa-clone rs-icon"></div>
                                <div class="rs-tool-title">پیش نویس</div>
                            </div>
                        </a>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Admin/AdminPanel">
                            <div class="rs-item">
                                <div class="fa fa fa-book rs-icon"></div>
                                <div class="rs-tool-title">پنل مدیریت</div>
                            </div>
                        </a>
                    }
                </div>

                <div class="rs-item">
                    <div class="fa fa-link rs-icon"></div>
                    <div class="rs-tool-title">پیوند ها</div>
                </div>

                <div class="rs-item">
                    <div class="fa fa-info-circle rs-icon"></div>
                    <div class="rs-tool-title">درباره</div>
                </div>
                <div class="rs-item">
                    <div class="fa fa-cog rs-icon"></div>
                    <div class="rs-tool-title">تنظیمات</div>
                </div>
            </div>
            <!-- tools end -->
            <!-- main start -->
            <div class="pull-left main-content">
                <div class="clear" style="padding-bottom: 20px;"></div>

                <div>
                    @RenderBody()
                </div>
            </div>
            <!-- main end -->

        </div>
    </div>
    <div class="footer">
        <div class="raspina pull-right" style="min-width: 72px;">
            <div class="rs-name"><span class="fa fa-copyright" style="font-size: 18px;"></span></div>
            <div class="rs-version">@(DateTime.Now.Year)</div>
        </div>
        <div class="copyright">

        </div>
        <div class="rsabout">
            <a href="#" target="_blank">LearnBug.com</a>
        </div>
    </div>

    <script src="~/Content/RSadmin/js/chart.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>