@model LearnBug.Models.DomainModels.Content

<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.HiddenFor(model => model.Id)
                <a href="/User/Profile/?username=@Model.User.Username">@Model.User.Username</a>

            </div>
            <div class="panel-body">
                <div id="w1" class="grid-view">

                    <!-- -->
                    <div class="col-md-9">
                            @if (User.Identity.IsAuthenticated && Model.User.Username != User.Identity.Name)
                            {
                                if (Model.Bookmarks.Any(p => p.User.Username == User.Identity.Name))
                                {
                                    <a onclick="AddBookMark()" id="BtnBookmark" class="fa fa-bookmark" style="font-size:55px;position:absolute;float:left;cursor:pointer"></a>
                                }
                                else
                                {
                                    <a onclick="AddBookMark()" id="BtnBookmark" class="fa fa-bookmark-o" style="font-size:55px;position:absolute;float:left;cursor:pointer;"></a>
                                }
                            }
                        <center>
                            <span style="font-size:22px;" class="left">@Model.Subject</span>
                        </center>
                        @Html.Raw(Model.Description)<br />
                    </div>
                    <div class="col-md-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <div>
                            <input type="text" name="Cmnt" id="Cmnt" Cid="@Model.Id" style="width:90%;" />
                            <button id="btnsnd" style="float:right;width:10%" onclick="sendComment()" class="fa fa-send"></button>

                        </div>
                            <br />
                        }
                        <div id="mfrm" style="background-color:#eeeeee;width:100%;height:100%;float:left;" class="last-visitors">
                            @Html.Action("_SeeComments", "Comment", @Model.Id)
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        function deleteComment(id) {
            $.ajax({
                url: "/Comment/deleteComment",
                data: { id: id },
                type: "Post",
                datatype: "Json",
                success: function (result) {
                    if (result.Success) {
                        $("#mfrm").html(result.Html)
                    }
                    eval(result.Script)
                },
                error: function () { alert("خظا!") }

            });
        }
        function sendComment() {
            $.ajax({
                url: "/Comment/SendComment",
                data: { text: $("#Cmnt").val().trim(), id: $("#Cmnt").attr("Cid").trim() },
                type: "Post",
                datatype: "Json",
                success: function (result) {
                    if (result.Success) {
                        $("#Cmnt").val("")
                        $("#mfrm").html(result.Html)
                    }
                    eval(result.Script);
                },
                error: function () { alert("خظا!") }
            });

        }
        function AddBookMark() {
            var w = document.getElementById("BtnBookmark").classList['value']
            var typ = true
            if (w == "fa fa-bookmark") {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark-o"
                typ = false
            } else {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark"
                typ = true
            }
            $.ajax({
                url: "/Bookmark/AddBookmark",
                data: { ContentId: $("#Id").val(), type: typ },
                type: "Post",
                datatype: "Json",
                error: function () { alert("خظا!") }
            })
        }
    </script>
}