@model LearnBug.Models.DomainModels.Content
    @{    ViewBag.Title = Model.Subject;
}
@section styles{
    <style>
        .btn_buy {
            color: lawngreen;
            font-size: 50px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 8px 10px 0px silver;
            font-family: 'Comic Sans MS';
            padding: 10px;
        }

            .btn_buy:hover {
                color: white;
                background-color: greenyellow;
            }
        #BtnBookmark{
            font-size: 55px;
            position: absolute;
            cursor: pointer;
            left:10px;
            top:-10px;
            z-index:1;
        }
    </style>
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.HiddenFor(model => model.Id)
                <a href="/User/Profile/@Model.User.Username">@Model.User.Username</a>

            </div>
            <div class="panel-body">
                <div id="w1" class="grid-view">

                    <!-- -->
                    <div class="col-md-12">
                        @if (User.Identity.IsAuthenticated && Model.User.Username != User.Identity.Name)
                        {
                            if (Model.Bookmarks.Any(p => p.User.Username == User.Identity.Name))
                            {
                                <a onclick="AddBookMark()" id="BtnBookmark" class="fa fa-bookmark"></a>
                            }
                            else
                            {
                                <a onclick="AddBookMark()" id="BtnBookmark" class="fa fa-bookmark-o"></a>
                            }
                        }
                        <div class="col-md-12">
                            <center>
                                <span style="font-size:22px;" class="left">@Model.Subject</span>
                            </center>
                        </div>
                        <div class="clear"><hr /></div>
                        <div id="div-body" class="col-md-12">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (string.IsNullOrEmpty(Model.Price.ToString()) ||
                                    Model.Factors.Any(p => p.User.Username == User.Identity.Name) ||
                                    Model.User.Username == User.Identity.Name
                                    //|| User.IsInRole("Admin")
                                    )
                                {
                                    @Html.Raw(Model.Description)
                                }
                                else
                                {
                                    <Center>
                                        <input type="button" onclick="BuyContent(@Model.Id)" class="btn_buy" name="name" value="خرید @Model.Price.Value.ToPrice() $" />
                                    </Center>
                                }

                            }
                            else
                            {
                                if (string.IsNullOrEmpty(Model.Price.ToString()))
                                {
                                    @Html.Raw(Model.Description)

                                }
                                else
                                {
                                    <Center>
                                        <b style="color:orange;font-size:22px;">برای مشاهده مطلب باید عضو سایت باشید !</b>
                                    </Center>
                                }

                            }
                        </div>
                    </div>
                    <div class="col-md-12" style="padding:20px">نظرات کاربران</div>
                    <div class="col-md-12">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <input type="text" name="Cmnt" id="Cmnt" Cid="@Model.Id" style="width:90%;" />
                                <button id="btnsnd" style="float:right;width:10%" onclick="sendComment()" class="fa fa-send"></button>

                            </div>
                            <br />
                        }
                        <div id="mfrm" style="background-color:#eeeeee;width:100%;height:100%;float:left;" class="last-visitors">
                            @Html.Action("_SeeComments", "Comment", @Model.Id)
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        function deleteComment(id) {
            $.ajax({
                url: "/Comment/deleteComment",
                data: { id: id },
                type: "Post",
                datatype: "Json",
                success: function (result) {
                    if (result.Success) {
                        $("#mfrm").html(result.Html)
                    }
                    eval(result.Script)
                },
                error: function () { alert("خظا!") }

            });
        }
        function sendComment() {
            $.ajax({
                url: "/Comment/SendComment",
                data: { text: $("#Cmnt").val().trim(), id: $("#Cmnt").attr("Cid").trim() },
                type: "Post",
                datatype: "Json",
                success: function (result) {
                    if (result.Success) {
                        $("#Cmnt").val("")
                        $("#mfrm").html(result.Html)
                    }
                    eval(result.Script);
                },
                error: function () { alert("خظا!") }
            });

        }
        function AddBookMark() {
            var w = document.getElementById("BtnBookmark").classList['value']
            var typ = true
            if (w == "fa fa-bookmark") {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark-o"
                typ = false
            } else {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark"
                typ = true
            }
            $.ajax({
                url: "/Bookmark/AddBookmark",
                data: { ContentId: $("#Id").val(), type: typ },
                type: "Post",
                datatype: "Json",
                error: function () { alert("خظا!") }
            })
        }

        function BuyContent(contentId) {
            $.ajax({
                url:"@Url.Action("CreateFactor","Factor")",
                data: {Id:contentId},
                type: "Post",
                datatype: "Json",
                success: function (result) {
                    if (result.Success) {
                        document.getElementById("div-body").innerHTML=result.Html
                    }
                    eval(result.Script)
                }
            })
        }
    </script>
}