@model IEnumerable<Models.Entities.User>

@{
    ViewBag.Title = "کاربران سایت";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="col-lg-12">
    <div class="card-box">
        <fieldset>

            @using (Html.BeginForm("Index", "User", FormMethod.Get))
            {
                <div class="col-lg-12" style="direction:rtl;">
                    <div class=" form-group col-md-3" style="float:right">
                        <input type="text" name="name" value="@ViewBag.name" placeholder="نام" class="form-control" />
                    </div>
                    <div class=" form-group col-md-3" style="float:right">
                        <input type="text" name="username" value="@ViewBag.username" placeholder="نام کاربری" class="form-control" />
                    </div>
                    <div class=" form-group col-md-3" style="float:right">
                        <input type="text" name="email" value="@ViewBag.email" placeholder="ایمیل" class="form-control" />
                    </div>
                    <div class=" form-group col-md-3" style="float:right">
                        <select name="role" class="form-control">
                            <option style="color:silver;">نقش</option>
                            <option value="Admin" @(ViewBag.role == "Admin" ? "selected" : "")>Admin</option>
                            <option value="Teacher" @(ViewBag.role == "Teacher" ? "selected" : "")>Teacher</option>
                            <option value="User" @(ViewBag.role == "User" ? "selected" : "")>User</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="col-lg-12 form-group"><button class="btn btn-success">جستحو</button><hr /></div>

                </div>
            }
            <!-- -->
            <table class="table table-hover table-striped">
                <tr>
                    <th> عکس</th>
                    <th> نام کاربری</th>
                    <th>نام</th>
                    <th>کیف پول</th>
                    <th>کمیسیون</th>
                    <th>دسترسی</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img style="width:30px;height:30px;border-radius:100%;" src="@item.ImgProfile()"></td>
                        <td><a href="/User/Profile/@item.Username">@item.Username</a></td>
                        <td>@item.Name</td>
                        <td>@item.Wallet.ToPrice() $</td>
                        <td>@item.Commission %</td>
                        <td>@item.Roles</td>
                        <td><a href="@Url.Action("ManagementUser","User",new { item.Id})" class="btn btn-primary"><i class="zmdi zmdi-edit"></i></a></td>
                    </tr>
                }
            </table>

            <!-- -->
        </fieldset>
    </div>
</div>
@section scripts{
    <script></script>
}