@model Models.Entities.Post
<div class="col-lg-4">
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Subject</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12 form-group">
                <div class="col-md-5">
                    @Html.Label("مدرس : ")
                </div>
                <div class="col-md-7">
                    <a href="@Url.Action("Profile", "User", new { id = Model.User.Username })">
                        @Html.DisplayFor(model => model.User.Name)
                    </a>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-5">
                    @Html.Label("دسته بندی : ")
                </div>
                <div class="col-md-7">
                    <a href="@Url.Action("Index", "Home", new { search = Model.Group.Name })">
                        @Html.DisplayFor(model => model.Group.Name)
                    </a>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-5">
                    @Html.Label("نظرات : ")
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.Comments.Count)
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-5">
                    @Html.Label("ساعت و تاریخ : ")
                </div>
                <div class="col-md-7">
                    @Model.InsertDateTime.ToPersianDate()
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="col-md-5">
                    @Html.Label("قیمت : ")
                </div>
                <div class="col-md-7">
                    @if (Model.Price == null)
                    {
                        <span>Free</span>
                    }
                    else
                    {
                        if (Model.Factors.Any(p => p.User.Username == User.Identity.Name))
                        {
                            <del class="text-pink">@(Model.Price?.ToPrice()) ریال</del>
                        }
                        else
                        {
                            <span class="text-success">@(Model.Price?.ToPrice()) ریال</span>
                        }
                    }

                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.KeyWords))
            {
                <div class="col-md-12 form-group">
                    <div class="col-md-5">
                        @Html.Label("کلمات کلیدی : ")
                    </div>
                    <div class="col-md-7">
                        @{
                            var keys = Model.KeyWords.Split(',');
                            foreach (var item in keys)
                            {
                                <a href="@Url.Action("Index", "Home", new { search = item })"> #@item &nbsp;</a>
                            }
                        }
                    </div>
                </div>
            }
            <div class="col-md-12 form-group">
                <div class="col-md-6 form-group">
                    <a href="/Post/ViewPost/@Model.Id" class="btn btn-success btn-block"> مشاهده</a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.User.Username == User.Identity.Name)
                    {
                        <div class=" col-md-6 form-group">
                            <a class="btn btn-info btn-trans waves-effect waves-warning m-b-5 sa-left" href="@Url.Action("Edit", "Post", new { id = Model.Id })"><i class="zmdi zmdi-edit"></i></a>
                            <span class="sa-left">&nbsp;</span>
                            <a class="btn btn-danger btn-trans waves-effect waves-warning m-b-5 sa-left" href="@Url.Action("Delete", "Post", new { id = Model.Id })"><i class="zmdi zmdi-delete"></i></a>
                        </div>
                    }
                    else
                    {
                        <div class=" col-md-6 form-group">
                            <a class="btn btn-warning btn-trans waves-effect waves-warning m-b-5 sa-left" onclick="bookmark('@Model.Id');"><i class="zmdi zmdi-bookmark"></i></a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>