@model Models.Entities.Post

@{
    ViewBag.Title = "ویرایش مطلب";
}

<div class="col-lg-12">
    <div class="card-box">
        <div class="panel-body">
            <!-- -->
            <div id="w1" class="grid-view">
                <!-- -->
                @using (Html.BeginForm("Edit", "Post", FormMethod.Post))
                {
                    @Html.HiddenFor(p => p.Id)
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <h5>موضوع مطلب</h5>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Subject,null,new { @class="text-danger"})
                            </div>
                        </div>
                    </div>
                    if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                    {

                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <h5>قیمت دوره (تومان) </h5>
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", placeholder = "Free" })
                                    @Html.ValidationMessageFor(model => model.Price,null,new { @class="text-danger"})
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <h5>گروه مطلب</h5>
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownList("groupId", (IEnumerable<SelectListItem>)ViewBag.Groups, "نا مشخص", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Price,null,new { @class="text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <h5>برچسب ها</h5>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" />
                                @Html.ValidationMessageFor(model => model.KeyWords,null,new { @class="text-danger"})
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="col-md-12">
                            <h5>محتوا</h5>
                        </div>
                        <div class="col-md-12">
                            <input id="upload" class="hidden" type="file" name="image" value="" />
                            @Html.TextAreaFor(model => model.Content, new { id = "aaa", @class = "form-control", style = "height:150px;" })
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <button class="btn btn-success"> اضافه کردن مطلب </button>
                            </div>
                        </div>
                    </div>

                    <div>
                    </div>
                }
                <!-- -->
            </div>
            <!-- -->
        </div>
    </div>
</div>




@section Scripts {
    @*@Html.CKEditorHeaderScripts()*@
    <script src="~/Scripts/tinymce/tinyMane.js"></script>
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
            $(function () {
                $("#aaa").ckeditor();
            });
        </script>*@
}
