@model Models.Entities.Post
@{ ViewBag.Title = Model.Subject;
}
@section styles{}
<div class="col-lg-12">
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.User.Name</h3>
        </div>
        <div class="panel-body" id="div-body">
            @if (Model.Price == null || Model.Factors.Any(p => p.User.Username == User.Identity.Name))
            {
                @Html.Raw(Model.Content)
            }
            else
            {
                <div style="text-align:-webkit-center;">
                    <div class="col-md-4" style="float:none">
                        <div class="col-md-6 form-group"><h3>قیمت </h3></div>
                        <div class="col-md-6 form-group"><h3>@(Model.Price?.ToPrice()) ریال</h3></div>
                        <div class="col-md-12 form-group">
                            <button class="btn btn-success btn-lg btn-block" onclick="BuyPost(@Model.Id)">خرید</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">نظرات</h3>
        </div>
        <div class="panel-body" id="comments">
            @Html.Action("_Comments", "Comment", new { Model.Id })
        </div>
    </div>
</div>

@section scripts{
    <script>
        function AddBookMark() {
            var w = document.getElementById("BtnBookmark").classList['value']
            var typ = true
            if (w == "fa fa-bookmark") {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark-o"
                typ = false
            } else {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark"
                typ = true
            }
            $.ajax({
                url: "/Bookmark/AddBookmark",
                data: { ContentId: $("#Id").val(), type: typ },
                type: "Post",
                datatype: "Json",
                error: function () { alert("خظا!") }
            })
        }
    </script>
}
