@model ViewModels.RegisterVeiwModel
@using Common.ReCaptcha
@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewBag.Title = "ثبت نام";
}
@section styles{
    <link href="~/Scripts/PersianDateTimePicker/jquery-ui-datetimepicker.min.css" rel="stylesheet" />
}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="m-t-40 card-box">
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "form" }))
                {
                    @Html.GenerateCaptcha()
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>نام کاربری</label></div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", autocomplete = "off", onkeyup = "Autenticator(this)" })
                            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>نام</label></div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">ایمیل</div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>رمز عبور</label></div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>تکرار رمز عبور</label></div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>تاریخ تولد</label></div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.PersianDateofbirth, new { @class = "form-control Date", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.PersianDateofbirth, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>جنسیت</label></div>
                        <div class="col-md-9">
                            @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>شماره تلفن</label></div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>محل سکونت</label></div>
                        <div class="col-md-9">
                            <select id="loc" name="Location" class="form-control">
                                <option value="value">text</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Location, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>مکان</label></div>
                        <div class="col-md-9">
                            @Html.HiddenFor(model => model.leafletViewwModel.Lat)
                            @Html.HiddenFor(model => model.leafletViewwModel.Lng)
                            <a class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                <i class="zmdi zmdi-my-location"></i>
                            </a>
                            <a class="btn btn-danger" style="display:none" onclick="RemoveLocation()" id="btnRemove">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="col-md-3"><label>بیوگرافی</label></div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Biography, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Biography, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3 form-group"></div>
                        <div class="col-md-3 form-group">
                            <button class="btn btn-success btn-block"> ثبت نام </button>
                        </div>
                        <div class="col-md-3 form-group">
                            <a class="btn btn-info btn-block" href="@Url.Action("Login","Account")"> صفحه ورود </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">مکان خود را انتخاب کنید</h4>
            </div>
            <div class="modal-body" id="divLocation">
                @Html.Action("Create", "leaflet")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="getLocation()"><i class="zmdi zmdi-my-location"></i></button>
                <button type="button" class="btn btn-success waves-effect waves-light" data-dismiss="modal" onclick="SetLocation()">ذخیره</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">بستن</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script src="~/Scripts/PersianDateTimePicker/jquery-ui-datetimepicker.min.js"></script>
    <script>
        function RemoveLocation() {
            document.getElementById("leafletViewwModel_Lat").value = ""
            document.getElementById("leafletViewwModel_Lng").value = ""
            document.getElementById("btnRemove").style.display="none"
        }
        function SetLocation() {
            document.getElementById("leafletViewwModel_Lat").value = document.getElementById("Lat").value
            document.getElementById("leafletViewwModel_Lng").value = document.getElementById("Lng").value
            document.getElementById("btnRemove").style.display = ""

        }
        $(".Date").datepicker();
        function Autenticator(obj) {
            $.ajax({
                url: "@Url.Action("AutenticatorUseName","User")",
                data: {Username:obj.value},
                type: "Post",
                success: function (result) {
                    if (result) {
                        obj.style.backgroundColor='rgba(0, 255, 0, 0.5)'
                    } else {
                        obj.style.backgroundColor='rgba(255, 70, 70, 0.5)'

                    }
                },
                error: function () {
                    toastr.error("خطا!")
                }
            })
        }
        $(function () {
            $.ajax({
                url: "https://api.yarbox.co/api/vv2/provinces",
                type: "GET",
                dataType: "Json",
                success: function (result) {
                    str = "";
                    result.items.forEach(function (item) {
                        str += "<option>" + item + "</option>"
                    });
                    $("#loc").html(str)
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
