@model IEnumerable<Models.Entities.Factor>
<div>
    <center><b style="font-size:18px;" id="modal-title">مطالب خریداری شده</b></center>
</div>

<hr />
<div class="pre-scrollable mce-arrow-down">
    <table class="table table-hover table-striped">
        <tr>
            <th>#</th>
            <th>نام مدرس</th>
            <th>موضوع مطلب</th>
            <th> تاریخ خرید</th>
            <th> قیمت</th>
            <th> امتیاز</th>
        </tr>
        @{int a = 1;}

        @foreach (var item in Model)
        {
            <tr>
                <td>@(a++)</td>
                <td><a href="/User/Profile/@item.Content.User.Username">@item.Content.User.name</a></td>
                <td><a href="/Content/ViewContent/@item.contentId">@item.Content.Subject</a></td>
                <td>@item.Datetime.ToPersianDate()</td>
                <td>@item.Price</td>
                <td>5</td>
            </tr>
        }
    </table>


</div>
<hr />
<div>
    <center>
        <input type="submit" class="btn btn-success" onclick="" value="save" />
        <input type="submit" class="btn btn-danger" onclick="document.getElementById('bodypartial').innerHTML=''" value="انصراف" />
    </center>

</div>

