@model IEnumerable<Models.Entities.Factor>
<div>
    <center><b style="font-size:18px;" id="modal-title">گذارش خرید مطالب من</b></center>
</div>

<hr />
<table class="table table-hover table-responsive">
    <tr>
        <th>#</th>
        <th>نام خریدار</th>
        <th>موضوع مطلب</th>
        <th> تاریخ خرید</th>
        <th>مبلغ دریافتی-کمیسیون %</th>
        <th> امتیاز</th>
    </tr>
    @{int a = 1;}

    @foreach (var item in Model)
    {
        <tr>
            <td>@(a++)</td>
            <td><a href="/User/Profile/@item.User.Username">@item.User.Name</a></td>
            <td><a href="/Content/ViewContent/@item.postId">@item.Post.Subject</a></td>
            <td>@item.InsertDateTime.ToPersianDate()</td>
            <td>@(item.Price - (item.Price / 100 * item.Commission)) (%@item.Commission)</td>
            <td>5</td>
        </tr>
    }
</table>
