@model IEnumerable<LearnBug.Models.DomainModels.Factor>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "مدیریت فروش";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Home/AdminPanel">پنل مدیریتی</a>/<a href="/Factor/Factors">مدیریت فروش</a></div>
            <div class="panel-body">
                <div class="grid-view">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group col-lg-9">
                            تا تاریخ :
                            <input type="text" id="to" name="to" value="@ViewBag.to" class="form-control" style="width:200px" />

                        </div>
                        <div class="form-group col-lg-3">
                            از تاریخ :
                            <input type="text" id="from" name="from" value="@ViewBag.from" class="form-control" style="width:200px" />

                        </div>
                        <div class="form-group col-lg-12">
                            <input type="submit" name="name" value="جستجو" class="btn btn-success" />
                        </div>
                        <hr />
                        <br />
                    }
                <table class="table table-hover table-striped">
                    <tr style="background-color:yellowgreen;">
                        <td colspan="5">
                            از تاریخ
                            @(string.IsNullOrEmpty(ViewBag.from) ? "..." : ViewBag.from)
                            تا تاریخ
                            @(string.IsNullOrEmpty(ViewBag.to) ? DateTime.Now.ToPersianDate().ToShortDateString() : ViewBag.to)
                            تعداد
                            @Model.Count()
                            مطلب توسط کاربران خریداری شده و سود حاصل از کمیسیون ان
                            @Model.Sum(p => p.Price - (p.Price - (p.Price / 100 * p.Commission))).ToPrice()$
                            میباشد.
                        </td>
                    </tr>

                    <tr>
                        <th>#</th>
                        <th>تاریخ</th>
                        <th>مبلغ</th>
                        <th>کمیسیون</th>
                        <th>دریافتی</th>
                    </tr>
                    @{int s = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(s++)</td>
                            <td>@item.Datetime.ToPersianDate()</td>
                            <td>$@item.Price</td>
                            <td>(%@item.Commission)</td>
                            <td style="color:blue"> $@(item.Price / 100 * item.Commission)</td>
                        </tr>

                    }
                </table>

                </div>
                <!-- -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/PersianDateTimePicker/jquery-ui-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $("#from").datepicker();
            $("#to").datepicker();
        });
    </script>
}
