@model IEnumerable<LearnBug.Models.DomainModels.Factor>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">فاکتورهای من</div>
            <div class="panel-body">
                <div class="grid-view">
                    <table class="table table-hover table-striped">
                        <tr>
                            <th>#</th>
                            <th>نام مدرس</th>
                            <th>تاریخ درج مطلب</th>
                            <th> تاریخ خرید</th>
                            <th> قیمت</th>
                            <th> مشاهده دوره</th>
                            <th> امتیاز</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Content.User.name</td>
                        <td>@item.Content.Datetime.ToPersianDate()</td>
                        <td>@item.Datetime.ToPersianDate()</td>
                        <td>@item.Price</td>
                        <td><a href="/Content/ViewContent/@item.contentId">مشاهده</a></td>
                        <td>5</td>
                    </tr>
                        }
                    </table>
                </div>
                <!-- -->
            </div>
        </div>
    </div>
</div>
